@model DotNetForever.Web.ViewModels.SideMenuViewModel

@*<div class=" border-right" id="sidebar-wrapper" style="background: rgb(37, 37, 38)">
    <div class="sidebar-heading" style="background: rgb(0, 64, 64);color: white"><i class="fas fa-tachometer-alt mr-3"></i>Dashboard </div>
    <div class="list-group list-group-flush" style="background-color: rgb(37, 37, 38);">
        <a href="@Url.Action("Index","Home")" class="list-group-item list-group-item-action"><i class="fas fa-home mr-2"></i>Home</a>

        <a href="@Url.Action("Index","Category")" class="list-group-item list-group-item-action  "><i class="fas fa-folder mr-2"></i>Category<span class="badge badge-danger badge-pill ml-5 ">@Model.CategoryCount</span></a>
        <a href="@Url.Action("Index","Product")" class="list-group-item list-group-item-action  "><i class="fas fa-boxes mr-2"></i>Product <span class="badge badge-danger badge-pill ml-5">@Model.ProductCount</span></a>
        <a href="@Url.Action("Index","Customer")" class="list-group-item list-group-item-action  "><i class="fas fa-users mr-2"></i>Customer<span class="badge badge-danger badge-pill ml-5">@Model.CustomerCount</span></a>
        <a href="@Url.Action("Index","Supplier")" class="list-group-item list-group-item-action  "><i class="fas fa-users mr-2"></i>Supplier<span class="badge badge-danger badge-pill ml-5">@Model.SupplierCount</span></a>
        <a href="@Url.Action("Index","Purchase")" class="list-group-item list-group-item-action "><i class="fas fa-money-bill-wave mr-2"></i>Purchase</a>
        <a href="@Url.Action("Index","Sale")" class="list-group-item list-group-item-action "><i class="fas fa-shopping-cart mr-2"></i>Sales</a>
        <a href="@Url.Action("Index","Stock")" class="list-group-item list-group-item-action "><i class="fas fa-box-open mr-2"></i>Stock</a>
        <a href="@Url.Action("PurchaseReport","Report")" class="list-group-item list-group-item-action  "><i class="fas fa-file-alt mr-2"></i>Report</a>
        


    </div>
</div>*@

<script>
    //bg-light

</script>