@model DotNetForever.Web.ViewModels.SaleDetailViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <h4>Sale Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row col-md-12">
        <!--Supplier Details -->
        <div class="col-md-3">
           
            @*<h5>Sale Info</h5><hr/>*@
            <fieldset>
                @*<legend>Sale Info</legend>*@
                <h6>Sale Info</h6>
                <div class="row">

                    <div class="col-md-12">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                            </div>
                            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Code</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>

                    </div>
                    @*<hr/>*@
                </div>
            </fieldset>
            @*<hr />*@
            <!--Supplier Details -->
            <fieldset>
                @*<legend>Customer</legend>*@
                <h6>Customer</h6>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Supplier</span>
                            </div>
                            <select id="categorySelect" name="CategoryID" class="form-control" re>
                                <option>Select One</option>
                                @if (Model.Customers != null)
                                {
                                    foreach (var customer in Model.Customers)
                                    {
                                        <option value="@customer.Id">@customer.Name</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Loyalty Point</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                </div>
            </fieldset>
            @*<hr />*@
            <!--Product Details -->

            <fieldset>
                @*<legend>Product Details</legend>*@
                <h6>Product Details</h6>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
                            </div>
                            <select id="categorySelect" name="CategoryID" class="form-control" re>
                                <option>Select One</option>
                                @if (Model.Categories != null)
                                {
                                    foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }


                            </select>
                        </div>


                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Product</span>
                            </div>
                            <select id="categorySelect" name="CategoryID" class="form-control" re>
                                <option>Select One</option>
                                @if (Model.Products != null)
                                {
                                    foreach (var product in Model.Products)
                                    {
                                        <option value="@product.Id.">@product.Name</option>
                                    }
                                }


                            </select>
                        </div>


                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Ava Qty</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>


                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">MRP(Tk)</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Total MRP(Tk)</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <button id="addButton" type="submit" class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Add</button>
                       
                    </div>
                   
                </div>
                <hr />
            </fieldset>
        </div>
        <div class="col-md-9">
            <div class="card bg-light overflow-auto" style="height: 425px;">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">MRP</th>
                            <th scope="col">Total MRP</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @*@{
                            var i = 0;
                            foreach (var purchase in Model)
                            {
                                i++;

                                <tr>
                                    <td>@i</td>
                                    <td>@purchase.InvoiceNo</td>
                                    <td>@purchase.Supplier.Name</td>
                                    <td>@purchase.DateTime</td>

                                    <td>
                                        <button type="button" class="editButton btn btn-primary" data-id="@purchase.SupplierId" data-toggle="modal" data-target="#editModal"><i class="fas fa-file-alt mr-2"></i>Details</button>

                                    </td>

                                </tr>
                            }

                        }*@

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end table--><hr/>
            
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Grand Total (Tk)</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>


                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Discount (%)</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <button id="addButton" type="submit" class="btn btn-primary float-left"><i class="fas fa-database mr-2"></i>Submit</button>
                </div>
                <div class="col-md-4 ">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Discount Amount (Tk)</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Payable Amount (Tk)</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    
                    
                </div>
            </div>

        </div>
        
    </div>
}


