
@model List<DotNetForever.Model.Model.Purchase>

@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">InvoiceNo</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">DateTime</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                    foreach (var purchase in Model)
                    {
                        i++;

                        <tr>
                            <td>@i</td>
                            <td>@purchase.Code</td>
                            <td>@purchase.InvoiceNo</td>
                            @*<td>@purchase.Supplier.Name</td>*@
                            <td>
                                <a class="supplierName" data-id="@purchase.Supplier.Id" data-toggle="modal" data-target="#supplierDetailModal">@purchase.Supplier.Name</a>
                            </td>
                            <td>@purchase.DateTime</td>

                            <td>
                                <button type="button" class="detailsButton btn btn-primary" data-id="@purchase.Id" data-toggle="modal" data-target="#detailModal"><i class="fas fa-file-alt mr-2"></i>Details</button>

                            </td>

                        </tr>
                    }

                }

            </tbody>
        </table>
    </div>

}
else
{
    <hr />
    <div class="alert alert-warning" role="alert">
        Sorry! No record found.
    </div>
}


<!--Supplier detail modal-->
<div class="modal fade" id="supplierDetailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
       
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" >

    </div>
</div>


<script>
    $(".detailsButton").click(function () {

        $.ajax({
                type: "GET",
                url: "/Purchase/PurchaseDetails",
                data: {
                    purchaseId: $(this).attr('data-id')
                }

        })
        .done(function (response) {
            $("#detailModal .modal-dialog").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });

    });

    $(".supplierName").click(function() {
        $.ajax({
                type: "GET",
                url: "/Supplier/SupplierDetails",
                data: {
                    id: $(this).attr('data-id')
                }

            })
            .done(function (response) {
                $("#supplierDetailModal .modal-dialog").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
</script>
