@model List<DotNetForever.Web.ViewModels.PurchaseReportViewModel>

@{
    ViewBag.Title = "PurchaseReport";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Start Date</span>
                    </div>
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>

            <div class="col-md-6">

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">End Date</span>
                    </div>
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <button id="addButton" type="submit" class="btn btn-primary float-right"><i class="fas fa-search mr-2"></i>Search</button>

            </div>


        </div>
        <hr />
    </div>

    <div class="col-md-3">

    </div>

</div>

<!--Stock Table-->

<div class="card bg-light overflow-auto" style="height: 425px;">
    @*@if (Model != null && Model.Count>0)
        {*@
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">AvailableQty</th>
                    <th scope="col">CP</th>
                    <th scope="col">MRP</th>
                    <th scope="col">Profit</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                    foreach (var report in Model)
                    {

                        i++;

                        <tr>
                            <td>@i</td>
                            <td>@report.Code</td>
                            <td>@report.Product</td>
                            <td>@report.Category</td>
                            <td>@report.AvailableQty</td>
                            <td>@report.CP</td>
                            <td>@report.MRP</td>
                            <td>@report.Profit</td>

                        </tr>
                    }

                }

            </tbody>
        </table>
    </div>

    @*}
        else
        {
            <hr/>
            <div class="alert alert-warning" role="alert">
                Sorry! No product record found.
            </div>
        }*@
</div>

